*__pycache__*
*.mypy_cache*
*.egg-info*
*.coverage
*doc/_build*
*doc/generated*
*.DS_Store
*.ipynb_checkpoints*
*.json
*.yaml
*.conf
build_script/tmp/
dmrg.out
FCIDUMP
.vscode
htmlcov
*.conf
*.out
*.chk
*.molden
FCIDUMP
